.panels-flexible-column-1-main {
  float: left;
  width: 99%;
}

.panel-flexible-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-1-center {
  float: left;
  width: 99%;
}

.panels-flexible-row-1-main-row-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-column-1-2 {
  float: left;
  width: 49.4439854861%;
}

.panels-flexible-column-1-3 {
  float: left;
  width: 49.5560145139%;
}

.panels-flexible-row-1-1-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-1-left {
  float: left;
  width: 99%;
}

.panels-flexible-row-1-5-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-region-1-middle {
  float: left;
  width: 99%;
}

.panels-flexible-row-1-6-inside {
  padding-left: 0px;
  padding-right: 0px;
}

